flows (1).json
[
    {
        "id": "7f4a974c81b9933a",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b5a784c5ab09c7e1",
        "type": "mqtt in",
        "z": "7f4a974c81b9933a",
        "name": "",
        "topic": "ecowell/watersoftener/data",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b04ad54d21238c96",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 20,
        "wires": [
            [
                "4c7a5e348389611b"
            ]
        ]
    },
    {
        "id": "d5a9683ba518ec4a",
        "type": "ui_gauge",
        "z": "7f4a974c81b9933a",
        "name": "",
        "group": "d0ce315186152a7e",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "pressure",
        "label": "PSI",
        "format": "{{value}}",
        "min": "20",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 60,
        "wires": []
    },
    {
        "id": "4c7a5e348389611b",
        "type": "json",
        "z": "7f4a974c81b9933a",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 170,
        "y": 200,
        "wires": [
            [
                "770bf68d9c7eaf9b",
                "0abf07ba4a3ee135",
                "23da7689f28f4045",
                "3e542c1d1f999f92"
            ]
        ]
    },
    {
        "id": "770bf68d9c7eaf9b",
        "type": "function",
        "z": "7f4a974c81b9933a",
        "name": "function 1",
        "func": "return [\n    { payload: msg.payload.flow },\n    { payload: msg.payload.pressure },\n    { payload: msg.payload.salt },\n    { payload: msg.payload.tds },\n    { payload: msg.payload.state },\n    { payload: msg.payload.alert },\n    { payload: msg.payload.power }\n];",
        "outputs": 7,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 140,
        "wires": [
            [
                "223d203012e5d7e8"
            ],
            [
                "d5a9683ba518ec4a"
            ],
            [
                "9b2ecf2a3894fe61"
            ],
            [
                "e431252c9dbc9187"
            ],
            [
                "72862f0a8c9911f9"
            ],
            [
                "732a5fc5b4763fb4"
            ],
            [
                "f41c1e6ef3aff651"
            ]
        ]
    },
    {
        "id": "223d203012e5d7e8",
        "type": "ui_gauge",
        "z": "7f4a974c81b9933a",
        "name": "",
        "group": "d0ce315186152a7e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "water Flow",
        "label": "L/min",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e60000",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 20,
        "wires": []
    },
    {
        "id": "9b2ecf2a3894fe61",
        "type": "ui_gauge",
        "z": "7f4a974c81b9933a",
        "name": "",
        "group": "d0ce315186152a7e",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Salt Level",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 100,
        "wires": []
    },
    {
        "id": "e431252c9dbc9187",
        "type": "ui_gauge",
        "z": "7f4a974c81b9933a",
        "name": "",
        "group": "d0ce315186152a7e",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "TDS",
        "label": "ppm",
        "format": "{{value}}",
        "min": "100",
        "max": "700",
        "colors": [
            "#00b500",
            "#0039e6",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 140,
        "wires": []
    },
    {
        "id": "72862f0a8c9911f9",
        "type": "ui_text",
        "z": "7f4a974c81b9933a",
        "group": "719ffab7f3fbb783",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "current state",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 180,
        "wires": []
    },
    {
        "id": "0abf07ba4a3ee135",
        "type": "debug",
        "z": "7f4a974c81b9933a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 20,
        "wires": []
    },
    {
        "id": "732a5fc5b4763fb4",
        "type": "ui_text",
        "z": "7f4a974c81b9933a",
        "group": "ca2ca68c581964f9",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alert status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 220,
        "wires": []
    },
    {
        "id": "7bed0c1ed78a8181",
        "type": "ui_button",
        "z": "7f4a974c81b9933a",
        "name": "",
        "group": "513c450f5eeff142",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Start Regeneration",
        "tooltip": "",
        "color": "white",
        "bgcolor": "black",
        "className": "",
        "icon": "",
        "payload": "START",
        "payloadType": "str",
        "topic": "ecowell/watersoftener/control",
        "topicType": "msg",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "3de5d9b5d2a9d9bd"
            ]
        ]
    },
    {
        "id": "3de5d9b5d2a9d9bd",
        "type": "mqtt out",
        "z": "7f4a974c81b9933a",
        "name": "",
        "topic": "ecowell/watersoftener/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4d366f888a449a56",
        "x": 360,
        "y": 440,
        "wires": []
    },
    {
        "id": "f41c1e6ef3aff651",
        "type": "ui_text",
        "z": "7f4a974c81b9933a",
        "group": "641522e57904e554",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Power Status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 260,
        "wires": []
    },
    {
        "id": "23da7689f28f4045",
        "type": "function",
        "z": "7f4a974c81b9933a",
        "name": "function 2",
        "func": "msg.payload = new Date().toLocaleString();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 320,
        "wires": [
            [
                "4ab5300d6c5ac768"
            ]
        ]
    },
    {
        "id": "4ab5300d6c5ac768",
        "type": "ui_text",
        "z": "7f4a974c81b9933a",
        "group": "719ffab7f3fbb783",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Updated",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "18",
        "color": "#000000",
        "x": 650,
        "y": 320,
        "wires": []
    },
    {
        "id": "bf31a4cb6c9a108b",
        "type": "ui_text",
        "z": "7f4a974c81b9933a",
        "group": "2ce3e5c09ee7b707",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Activity History",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 380,
        "wires": []
    },
    {
        "id": "3e542c1d1f999f92",
        "type": "function",
        "z": "7f4a974c81b9933a",
        "name": "function 3",
        "func": "let history = flow.get(\"history\") || [];\n\nlet event =\n    new Date().toLocaleTimeString() +\n    \" - \" +\n    msg.payload.state +\n    \" | \" +\n    msg.payload.alert;\n\nhistory.unshift(event);\n\nif (history.length > 8) {\n    history.pop();\n}\n\nflow.set(\"history\", history);\n\nmsg.payload = history.join(\"\\n\");\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 380,
        "wires": [
            [
                "bf31a4cb6c9a108b"
            ]
        ]
    },
    {
        "id": "b04ad54d21238c96",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d0ce315186152a7e",
        "type": "ui_group",
        "name": "Sensors",
        "tab": "d97614fc7708a2d5",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "719ffab7f3fbb783",
        "type": "ui_group",
        "name": "Status",
        "tab": "d97614fc7708a2d5",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ca2ca68c581964f9",
        "type": "ui_group",
        "name": "ALERT",
        "tab": "d97614fc7708a2d5",
        "order": 8,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "513c450f5eeff142",
        "type": "ui_group",
        "name": "regeneration",
        "tab": "d97614fc7708a2d5",
        "order": 9,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4d366f888a449a56",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "641522e57904e554",
        "type": "ui_group",
        "name": "power status",
        "tab": "d97614fc7708a2d5",
        "order": 10,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2ce3e5c09ee7b707",
        "type": "ui_group",
        "name": "Activity",
        "tab": "d97614fc7708a2d5",
        "order": 13,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d97614fc7708a2d5",
        "type": "ui_tab",
        "name": "Smart Water Softener",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d7a59b3711e0be14",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]